.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 32px;
}

.navigation>img {
    width: 45px;
    display: none;
}

ol {
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: -180px;
    height: 100vh;
    padding-top: 10px;
    z-index: 3;
    background: var(--dark-blue);
    transition: 0.3s;
    border: 1px solid var(--light-blue);
    width: 180px;
}

ol li {
    margin-bottom: 30px;
}

ol div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

ol.show {
    left: -5px;
}

ol img {
    width: 45px;
}

ul {
    display: flex;
    gap: 36px;
}

li {
    font-weight: 400;
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 1rem;
    font-size: 16px;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    background-color: #e0e0e0;
    color: #000;
}

.infoZone {
    display: flex;
    align-items: center;
    gap: 32px;
}

.inputSearch {
    padding: 8px;
    background: var(--medium-blue);
    border-radius: 12px;
    border: none;
}

.inputSearch::placeholder {
    color: var(--light-blue);
}

.inputSearch::before {
    /* content: url("../../../public/searchIcon.svg"); */
    content: url("../../../public/searchIcon.svg");

    width: 10px;
    height: 10px;
}

.notifactionIcon {
    background: var(--medium-blue);
    padding: 10px;
    border-radius: 12px;

}
.profileIcon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

@media screen and (max-width: 1255px) {

    ul,
    .inputSearch,
    .notifactionIcon {
        display: none;
    }

    .navigation>img {
        display: block;
    }



}