#root {
  max-width: 80vw;
  margin: 0 auto;
}

@media screen and (max-width: 998px) {
  #root {
    max-width: 90vw;
  }
}

.HomePage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.parentCardSwap {
  border: 1px solid var(--light-blue);
  border-radius: 32px;
  height: 500px;
  width: 78.25vw;
  margin-top: 50px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.infoCardSwap {
  margin-top: 100px;
  margin-left: 50px;
}

.infoCardSwap>h1 {
  font-size: 50px;
  font-weight: 700;
}

.infoCardSwap>p {
  color: var(--light-blue);
}


.line {
  height: 2px;
  /* толщина линии */
  background-color: var(--light-blue);
  /* цвет линии */
  width: 100%;
  /* ширина */
  margin: 10px 0;
}

.imgCard {
  border-radius: 12px;
  width: 600px;
}

@media screen and (max-width:1500px) {
  .infoCardSwap>h1 {
    font-size: 40px;
    font-weight: 700;
  }

  .infoCardSwap>p {
    width: 29.667vw;
  }
}

@media screen and (max-width:1200px) {
  .infoCardSwap>h1 {
    font-size: 35px;
    font-weight: 600;
  }

  .infoCardSwap>p {
    width: 29.667vw;
  }
}

@media screen and (max-width:1000px) {
  .parentCardSwap {
    display: flex;
    flex-direction: column;
    height: 650px;
    padding: 30px;
  }

  .infoCardSwap>h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
  }

  .infoCardSwap>p {
    width: auto !important;
    text-align: center;
  }

  .infoCardSwap {
    margin-top: 0;
    margin-left: 0;
  }
}

@media (max-width: 620px) {
  .infoCardSwap>h1 {
    font-size: 30px;
    font-weight: 600;
  }

  .infoCardSwap>p {
    width: 59.667vw;
  }

  .parentCardSwap {
    height: 550px;
  }

  .infoCardSwap {
    margin-top: 0;
    margin-left: 0;
  }


}

@media (max-width: 460px) {
  .infoCardSwap>h1 {
    font-size: 25px;
    font-weight: 500;
  }
  .parentCardSwap {
    padding: 10px;
    padding-top: 20px;
    height: 500px;
  }
}

/* @media screen and (max-width:1300px) {
  .infoCardSwap>h1 {
    font-size: 30px;
    font-weight: 500;
  }
  .infoCardSwap>p {
    width: 23.667vw;
    font-size: 12px;

  }
} */

/* .aura-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  background: var(--dark-blue);
}

.ball {
  position: absolute;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  filter: blur(160px);
  opacity: 0.4;
}

.dark-blue {
  background: #0a0a40;
  background: #101068;

}  */