.card-swap-container {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(5%, 20%);
    transform-origin: bottom right;

    perspective: 900px;
    overflow: visible;
}

.card {
    position: absolute;
    padding: 10px 10px 0 10px;
    top: 50%;
    left: 50%;
    border-radius: 12px;
    border: 1px solid var(--light-blue);
    background: var(--medium-blue);

    transform-style: preserve-3d;
    will-change: transform;
    backface-visibility: hidden;
}

@media screen and (max-width:1500px) {
    .card {
        max-width: 520px;
        left: 60%;
    }

    .card>img {
        width: 500px;
    }
}

@media screen and (max-width:1200px) {
    .card {
        max-width: 420px;
        left: 65%;
    }

    .card>img {
        width: 400px;
    }
}
@media screen and (max-width:1000px) {
    .card {
        max-width: 620px;
        left: 50%;
        top: 60%;
    }
    .card>img {
        width: 600px;
    }
}
@media (max-width: 768px) {
    .card-swap-container {
        transform: scale(0.75) translate(25%, 25%);
    }
}

@media (max-width: 480px) {
    .card-swap-container {
        transform: scale(0.55) translate(25%, 25%);
    }
}