* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', system-ui, sans-serif;
  font-weight: 400;
}

:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  --dark-blue: #0F1A24;
  --medium-blue: #21364A;
  --light-blue: #8FADCC;
 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  /* display: flex;
  place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}


@media (prefers-color-scheme: light) {
  
  :root {
    color: #0F1A24;
    background-color: #ffffff;
    --dark-blue: #ffffff;
    --medium-blue: #2d99ff;
    --light-blue: #66b5ff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-blue);
    color: #ffffff;
  }
}